<template>
    <div class="container-fluid">
        <div class="row">
            <aside :class="asideClass">
                <sidebar
                    :collapsed="sidebarCollapsed"
                    :categories="categories"
                    :current-category-id="currentCategoryId"
                    @toggle-collapsed="toggleSidebarCollapsed"
                />
            </aside>
            <div :class="contentClass">
                <component
                    :is="currentComponent"
                    v-bind="currentProps"
                />
            </div>
        </div>
    </div>
</template>

<script>
import Catalog from '@/componentes/catalog';
import Sidebar from '@/componentes/sidebar';
import { getCurrentCategoryId, getCurrentProductId } from '@/services/page-context';
import { fetchCategories } from '@/services/categories-service';
import ProductShow from '@/componentes/product-show';

export default {
    // add the name to help debug
    name: 'Products',
    components: {
        Catalog,
        Sidebar,
        ProductShow,
    },
    data() {
        return {
            sidebarCollapsed: false,
            categories: [],
            currentCategoryId: getCurrentCategoryId(),
            currentProductId: getCurrentProductId(),
        };
    },
    computed: {
        asideClass() {
            return this.sidebarCollapsed ? 'aside-collapsed' : 'col-xs-12 col-3';
        },
        contentClass() {
            return this.sidebarCollapsed ? 'col-xs-12 col-11' : 'col-xs-12 col-9';
        },
        currentComponent() {
            return this.currentProductId !== null ? ProductShow : Catalog;
        },
        currentProps() {
            return this.currentProductId !== null ? {
                productId: this.currentProductId,
            } : {
                currentCategoryId: this.currentCategoryId,
                categories: this.categories,
            };
        },
    },
    async created() {
        const response = await fetchCategories();
        this.categories = response.data['hydra:member'];
    },
    methods: {
        toggleSidebarCollapsed() {
            this.sidebarCollapsed = !this.sidebarCollapsed;
        },
    },
};
</script>
