{% extends 'base.html.twig' %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('products') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {% if currentProductId is defined %}
            window.currentProductId = '{{ currentProductId|e('js') }}';
        {% else %}
            window.currentProductId = null;
        {% endif %}

        {% if currentCategoryId is defined %}
            window.currentCategoryId = '{{ currentCategoryId|e('js') }}';
        {% else %}
            window.currentCategoryId = null;
        {% endif %}
        window.categories = {{ categories|jsonld }};
    </script>

    {{ encore_entry_script_tags('products') }}
{% endblock %}
