<template>
    <div>
        <div class="row">
            <div class="col-3">
                <title-component
                    :text="categoryName"
                />
            </div>
            <div class="col-9">
                <search-bar-component
                    @search-products="onSearchProducts"
                />
            </div>
        </div>
        <product-list
            :loading="loading"
            :products="products"
        />
        <div class="row">
            <legend-component :title="legend" />
        </div>
    </div>
</template>

<script>
import { fetchProducts } from '@/services/products-service';
import LegendComponent from '@/componentes/legend';
import ProductList from '@/componentes/product-list';
import TitleComponent from '@/componentes/title';
import SearchBarComponent from '@/componentes/search-bar';

export default {
    name: 'Catalog',
    components: {
        LegendComponent,
        ProductList,
        TitleComponent,
        SearchBarComponent,
    },
    props: {
        currentCategoryId: {
            default: null,
            type: String,
        },
        categories: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            products: [],
            legend: 'Shipping takes 10-12 weeks, and products probably won\'t work',
            loading: false,
            searchTerm: null,
        };
    },
    computed: {
        categoryName() {
            if (this.currentCategoryId === null) {
                return 'All products';
            }
            const category = this.categories.find((cat) => cat['@id'] === this.currentCategoryId);

            return category ? category.name : '';
        },
    },
    watch: {
        currentCategoryId() {
            this.loadProducts();
        },
    },
    created() {
        this.loadProducts();
    },
    methods: {
        // you can use destructuring
        onSearchProducts({ term }) {
            this.searchTerm = term;
            this.loadProducts();
        },
        async loadProducts() {
            // the property name is the same name as the variable being used you
            // can use a shorthand syntax {params: params} => params
            this.loading = true;

            let response;
            try {
                response = await fetchProducts(this.currentCategoryId, this.searchTerm);
                this.loading = false;
            } catch (e) {
                this.loading = false;
                return;
            }

            this.products = response.data['hydra:member'];
        },
    },
};
</script>
